extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    #form-group
      label Subject:
      input.form-control(name='title', type='text')
    #form-group
      label Question:
      textarea.form-control(name='body')
    br
    input.btn.btn-primary(type='submit',value='Submit')
